.data-component {
  display: flex;
  align-items: center; /* Vertically align items in the center */
  gap: 20px; /* Adjust the space between the image and the text */
}

.data-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.data-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 20px;
}

.data-title {
  margin: 50px;
}

.data-description {
  overflow: auto;
  margin-bottom: 20px;
  white-space: normal;
}

.data-actions {
  display: flex;
  justify-content: flex-end;
}

.data-edit-btn,
.data-delete-btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.data-edit-btn {
  background-color: #f0ad4e;
  color: white;
}

.data-delete-btn {
  background-color: #000000;
  color: white;
}

.card-edit-icon {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.card-delete-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 4px;
  cursor: pointer;
}
.card-img-top {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  object-fit: cover;
}
.data-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Ensure it takes up the remaining space */
}
